<footer class="bg-light mt-auto">
    <div class="container d-flex">
        <ul class="p-2" style="list-style-type: none;">
            <li>Microsoft</li>
            <li>Cisco</li>
            <li>Cloud</li>
        </ul>
        <ul class="p-2" style="list-style-type: none;">
            <li>Networking</li>
            <li>Programming</li>
            <li>Certification</li>
        </ul>
        <ul class="p-2 flex-fill" style="list-style-type: none;">
            <li><a href="/about">About Us</a></li>
            <li><a href="/sitemap">Sitemap</a></li>
        </ul>
        
    </div><!-- </container> -->
    
</footer>