<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="<%=description%>">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/index.css">
	<!-- <link rel="stylesheet" href="/css/nav.css"> -->
	<script type="text/javascript" src="/js/jquery.js"></script>
	<link rel="stylesheet" href="/css/dropdown.css">
	<!-- <script type="text/javascript" src="/js/hover.js"></script> -->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<link rel="icon" href="images/badge.png" type="image/icon type">
</head>