<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navigation') %>
      <main class="container-fluid p-0">
          <%- body -%>
      </main>
    
    <%- include('../partials/footer') %>