<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Certificate</title>
</head>
<body>
    <form action="/allcerts" method="POST">
        <label for="title">Title</label>
        <input type="text" id="title" name="title">
        <br>
        <label for="description">Description</label>
        <textarea type="text" id="description" name="description" rows="5"></textarea>
        <input type="submit">
    </form>
    <%- include('partials/footer') %>
</body>
</html>