<% layout('layouts/boilerplate')%>
<div class="text-center border-bottom">
    <h1 class="display-4 fw-bold">Welcome to GetCertPro</h1>
    <p class="lead mb-4">Find the right certification for you. Over 20 certifications to choose from.</p>
    <a href="/allcertifications?page=1" class="btn btn-lg btn-success px-4 me-3">Go</a>
    <div class="hero-section mt-5">
        <img src="/images/pngaaa.com-1634222.png" class="border hero-img rounded-3 shadow-lg mb-4" alt="hero image" loading="lazy">
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h2 class="featurette-heading">Find certifications in <a class="my-link" href="categories/Networking?page=1">Networking</a></h2>
            <p class="lead">From getting certification for cabling and equipment installation to server configuration and administration. Along with other technology provider specific trainings.</p>
        </div>
        <div class="col-md-6">
            <img src="/images/networking.jpg" class="featurette-image border rounded-3 shadow-lg img-fluid mx-auto" style="width: 500; height: 500;" alt="">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row mb-5">
        <div class="col-md-6 order-md-2">
            <h2 class="featurette-heading">Find certifications in <a class="my-link" href="categories/Cloud?page=1">Cloud Services</a></h2>
            <p class="lead">Whether you're looking to get started in a cloud computing career or looking to get professionally certified.</p>
        </div>
        <div class="col-md-6 order-md-1">
            <img src="/images/cloud.png" class="featurette-image border rounded-3 shadow-lg img-fluid mx-auto" style="width: 500; height: 500;" alt="">
        </div>
    </div>
</div>
    