.carousel-link{
	color: #ffffff;
	text-decoration: none;
}

.carousel-link:hover{
	color: #f0f0f0;
}

.link{
	color: #000000;
	text-decoration: none;
}

a{
	color: black;
}

.custom-img{
	width: 200px;
	height: 100px;
	object-fit: contain;
}

.my-wrap{
	flex-wrap: wrap;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-bottom: 4rem;
}
  /* Since positioning the image, we need to help out the caption */
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}
  
  /* Declare heights because of positioning of img element */
.carousel-item {
	height: 32rem;
}
.carousel-item > img {
	position: absolute;
	bottom: 0;
	width: 100%;
	opacity: .9;
	object-fit: fill;
	/* object-position: 0% -50%; */
}

  /* Center align the text within the three columns below the carousel */
.top-certs .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}

.card{
	  margin: 0 auto;
}

.next, .previous{
	width: 25%;
}

/* Featurettes
------------------------- */
.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-divider:last-child{
    margin-bottom: 0;
}
  
/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
@media (min-width: 40em) {
/* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    
    .featurette-heading {
        font-size: 50px;
    }
}
  
@media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
}

footer, footer li a{
    color: rgba(255,255,255,.55);
}

.custom-img{
    width: 200px;
	height: 100px;
    object-fit: contain;
}

.my-link{
    color: #212529;
}
