.my-container{
    display: flex;
    /* overflow: hidden; */
}

/* .certs-menu{
    display: flex;
    
} */

.dropdown-container{
    display: none;
    width: 100%;
    /* display: flex; */
    z-index: 9;
    background-color: aliceblue;
    position: absolute;
    left: 0;
}


/* .certs:hover .certs-menu{
    display: flex;
} */

.navbar-brand{
    height: 70px;
    width: 70px;
    
}

.navbar-brand img{
    height: inherit;
    width: inherit;
}